###################################################
# Local settings file                             #
# Place any overrides to settings.py in here      #
###################################################

DEBUG = False
TEMPLATE_DEBUG = DEBUG

ADMINS = ()
MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# See: https://docs.djangoproject.com/en/dev/topics/cache/
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
#
# This will generally be the same as your HOST setting, without the protocol
# e.g. locast.mit.edu
ALLOWED_HOSTS = []

LANGUAGE_CODE = 'en-us'
LANGUAGES = (
    ('en', 'English'),
)

SITE_ID = 1

# The host address of this installation, e.g. http://locast.mit.edu -- No trailing slash
HOST = ''

# The relative URL of the application, e.g. /civicmedia -- No trailing slash, leave blank if its the root.
BASE_URL = ''

# Generally, FULL_BASE_URL = HOST + BASE_URL
FULL_BASE_URL = HOST + BASE_URL

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = ''

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = FULL_BASE_URL + '/media/'

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = ''

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = FULL_BASE_URL + '/static/'

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".

# Make this unique, and don't share it with anybody.
SECRET_KEY = ''

# APPS that are unique to this instance.
LOCAL_APPS = (
    # Uncomment this to turn on userconfirmation
    # 'locast.userconfirmation',
)

############ 
# Locast-specific settings
#

# Which theme to use
THEME = 'default'

# The default privacy of new casts. 1 = Private, 2 = Protected, 3 = Public
DEFAULT_PRIVACY = 2

# Map settings
DEFAULT_LON = 0.0
DEFAULT_LAT = 0.0
DEFAULT_ZOOM = 4
MAX_ZOOM = 17
MIN_ZOOM = 7

# Uploader settings (client side)
# This string can be in the following formats 100b, 10kb, 10mb.
MAX_VIDEO_SIZE = '100mb'
MAX_PHOTO_SIZE = '1mb'

# Custom Flowplayer swf, if desired. Set by default to the generic flowplayer
FLOWPLAYER_SWF = 'http://releases.flowplayer.org/swf/flowplayer-3.2.8.swf'

# Argument list for leaflet tile layer
# See: http://leafletjs.com/reference.html#tilelayer
MAP_LAYER = '''
    'http://{s}.tile.cloudmade.com/{key}/{style}/256/{z}/{x}/{y}.png', {
    key: '55be8cc24afc49f4a4f7e8056455582c',
    style: '66675',
    style: '997',
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>' 
}
'''

# Enables google analytics
GOOGLE_ANALYTICS_ID = None
