{% extends "root.django.html" %}
{% load i18n %}

{% block body %}

<header>

    <!-- HEADER -->

    <div id="header-content" class="row-fluid">

        <div class="title-content span6"> 
            <a href="{{FULL_BASE_URL}}/#!/home/"><h1 class="logo" id="project-logo">{{SITE_NAME}}</h1></a>  
            
            <div id="search-bar">
                    {% block search %}{% endblock %}
            </div>

            {% get_available_languages as languages %}
            {% if languages.length > 1 %}
                <div id="language-selector">    
                    {% for lang in languages %}
                    <a href="{% url set_language %}?language={{ lang.0 }}&next={{ request.path }}" id="lang-{{ lang.0 }}" class="language-select">
                        {{lang.1}} 
                        {% comment %}<img src="{{MEDIA_URL}}img/{{ lang.0 }}.png"></img>{% endcomment %}
                    </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!--<a id="home-link" href="{{FULL_BASE_URL}}/#!home">{% trans "Home" %}</a>-->

        <div id="header-nav" class="offset1 span5">
            <!--<button id="browsebox-btn" class="btn span3">{% trans "List" %}</button>-->
            <div id="layer-switcher" class=" span8" >
                <button id="layer-switch_map" class="btn map active span6"><i class="icon-map-marker"></i> {% trans "Map" %}</button>
                <button id="layer-switch_media" class="btn media span6"><i class="icon-camera"></i>  {% trans "Media" %}</button>
            </div> 

           
            
            <!--<a id="locast-credit" href="http://locast.mit.edu" target="_blank">Built with Locast</a>-->

            <div id="login-bar" class="span4">
                    {% block login %}{% endblock %}
            </div>
        </div>
 

        <div id="search-results" class="span10 offset1 row-fluid"></div>
        

    </div>
     <div id="search-results-overlay">
    </div> 
</header>



<div id="chrome_layer" class="layer">
    {% block chrome-content %}{% endblock %}
</div>    

<div id="media_layer" class="layer">
    {% block media-content %}{% endblock %}
</div>

<div id="map_layer" class="layer">
    {% block map-content %}{% endblock %}
</div>    


{% endblock body %}




