{% extends "base.django.html" %}
{% load i18n %}
{% block script %}
    <script type="text/javascript" src="{{STATIC_URL}}js/frontpage_views.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/frontpage.js"></script>
{% endblock %}
{% block body-class %}home{% endblock %}

{% block search %}
    <form class="locast-search">
        <input class="locast-textfield dynamic" id="search-input" type="text" AUTOCOMPLETE="off"></input>
    </form>
{% endblock search %}

{% block login %}
{% if not request.user.is_authenticated %}
    <div class="logins">
        <a id="login-link" class="locast-login locast-button">{% trans "Login / Register" %}</a>
    </div>   
{% else %}
    <div id="login-info">
        <div class="login-info-item">
            <a href="#!user/{{request.user.id}}/">
            {% if request.user.user_image %}
                <div class="image-frame user-image"><img src="{{MEDIA_URL}}{{request.user.user_image}}" /></div>
            {% endif %}
                <span class="message">{% trans "logged in as "%}</span>
            {% if request.user.display_name %}
                <span class="name ">{{ request.user.display_name }}</span>
            {% endif %}
            </a>
        </div>
        <div class="login-info-item"><a id="edit-profile-link" href="#">Edit Profile</a></div>
        <div class="login-info-item"><a id="logout-link" class="locast-button" href="{% url "logout" %}?next={{request.path}}">Logout</a></div>
    </div>
{% endif %}
{% endblock login %}

{% block main-content %}
<div id="content-details" class="ui-overlay locast-content-details"></div>

<div id="flowplayer-container" class="hidden" onClick="$('#flowplayer-container').addClass('hidden')" >
    <div id="flowplayer-wrapper">
     <a id="flowplayer-close" href="#" >[X]</a> 
     <div id="flowplayer-player" style="width: 320px; height: 240px;"></div>
    </div>
</div>

<div id="tooltip"></div>

<div id="login-alert"><h3 class="alert content-card">{% trans "You Must Login" %}</h3></div>  

<div class="content-card ui-draggable closed" id="edit-profile-container">
{% if request.user.is_authenticated %}
    <div id="edit-profile-header">
        <a href="#" class="locast-icon close locast-button" id="edit-profile-close">Cancel</a> 
        <h4 class="locast-instruction"><strong>{% trans "Edit Your Profile" %}</strong></h4>
        <div id="user-name"><h4>{{ request.user.display_name }}</h4></div>
        <p class="locast-help">{% trans "Edit your password and other information using the form below" %}</p>
    </div>
    <div>  
        <form id="edit-profile-form" method="POST" enctype="multipart/form-data" action="{% url "edit_profile" %}">
        {% for field in edit_profile_form %}
            {{ field.label_tag }}<br/>{{ field }}<br/>
        {% endfor %}
            <br/>
            <input type="submit" class="locast-button" value="Edit Profile" />
        </form>
    </div>
{% endif %}
</div> <!-- edit-profile-container -->

<div id="map-title-container" >
    <div id="map-title" class="ui-overlay clear primary-color">
        <div id="current-map">
            <div id="map-list-dropdown" class="cleared"><h4>{% trans "All Casts" %}</h4>
                <div class="arrow right"></div>
            </div>
        </div>
        <div id="add-cast-button" class="locast-button cast-add-button">+ {% trans "Add Cast" %}<span id="add-cast-coll"></span></div>
        <div id="view-switcher">
            <a href="" id="view-switch-map" class="map selected ">{% trans "Map" %}</a>
            <a href="" id="view-switch-list" class="list ">{% trans "List" %}</a>
        </div> 
    </div>
</div> <!-- map-title-container -->

<div id="map-list"></div>    

<div id="intro-page-container" class="ui-overlay">
    <div id="intro-page-content" class="content-card">
        {% include "welcome_message.django.html" %}
        <br/>
        <h2 class="map-list-header">{% trans "Collections"%}</h2>
        <div id="intro-map-list"></div>
    </div>   
</div>

<div id="change-location-container" class="ui-overlay"></div>

<div id="map-info-container" class="ui-overlay cleared">
    <div id="map-cast-list-title" class="content-card">
        <h4 class="list-title">
            <div id="cast-list-sort">
                <a id="cast-list-sort_-created" class="selected">{% trans "Most Recent"%}</a>
                <a id="cast-list-sort_popularity">{% trans "Most Popular"%}</a>
                <div id="map-cast-list-pager"></div>  
            </div>
        </h4>
    </div> 
    <div id="map-cast-list">
        <span class="list-content"><h3>{% trans "No Casts On Map" %}</h3></span>
    </div>
</div> <!-- map-info-container -->

<div id="map-controls-container" class="ui-overlay dynamic">
    <div id="map-controls"></div>
    <a id="map-reset" href="#">{% trans "Reset"%}</a>
</div>

<div id="cast-add-container" class="closed content-card"></div>

<div style="height: 480px; width: 640px;" id="main-map"></div>

<div id="map-loader"><h3 id="loader-message" >{% trans "Loading" %}</h3></div>
{% endblock main-content %}

