{% extends "base.django.html" %}
{% load i18n %}
{% block script %}
    <script type="text/javascript" src="{{STATIC_URL}}js/frontpage_views.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/frontpage.js"></script>
{% endblock %}
{% block body-class %}home{% endblock %}

{% block search %}
    <form class="locast-search">
        <input class="locast-textfield dynamic" id="search-input" type="text" AUTOCOMPLETE="off"></input>
    </form>
{% endblock search %}

{% block login %}
{% if not request.user.is_authenticated %}
    <div class="login-info">
        <a id="login-link" class="locast-login locast-button">{% trans "Login / Register" %}</a>
    </div>   
{% else %}
    <div class="login-info">
        <a id="login-menu-link" href="#">
        {% if request.user.user_image %}
            <div class="image-frame user-image"><img src="{{MEDIA_URL}}{{request.user.user_image}}" /></div>
        {% endif %}
        {%comment%}<span class="message">{% trans "logged in as "%}</span>{%endcomment%}
        {% if request.user.display_name %}
            <span class="name ">{{ request.user.display_name }}</span>
        {% endif %}
        </a>
    </div>
    <div id="login-menu">
        <div class="login-info-item"><a href="#!/user/{{request.user.id}}/">{% trans "View <span class='cast-name-plural'>Casts</span>" %}</a></div>
        <div class="login-info-item"><a id="edit-profile-link" href="#">{% trans "Edit Profile" %}</a></div>
        <div class="login-info-item"><a id="logout-link" class="locast-button" href="{% url "logout" %}?next={{request.path}}">{% trans "Logout" %}</a></div>
    </div>
{% endif %}
{% endblock login %}


{% block chrome-content %}

<div id="map-list"></div>    

<div id="login-alert" class="layer-container"><h3 class="alert content-card">{% trans "You Must Login" %}</h3></div>  

<div id="login_container" class="layer-container">
    <h4 class="title">{% trans "Login to Your Account" %}</h4> <button id="login-container-close" class="btn-danger">{% trans "Close" %}</button>
    <form id="login-form" method="post" action="{% url "django.contrib.auth.views.login" %}" class="clearfix">
        {% csrf_token %}
        <label for="id_username">{% trans "Email" %}</label>
        {{ login_form.username }}
        {{ login_form.password.label_tag }}
        {{ login_form.password }}
        <input type="submit" value="login" class="btn" /> 
        <input type="hidden" name="next" value="{{ next }}" /> 
    </form> 
    <p class="muted"><a href="{% url 'register' %}">{% trans "Register</a> a new account if you don't have one" %}</p> 
</div><!-- end login-container -->


<div  id="profile_container" class="layer-container">
{% if request.user.is_authenticated %}
    <div class="editing-form">
        <h4 class="locast-instruction">{% trans "Edit Your Profile " %}<strong>{{ request.user.display_name }}</strong></h4>
        <p class="locast-help">{% trans "Change your password" %}</p>
        <form id="edit-profile-form" method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
        {% for field in edit_profile_form %}
            {{ field.label_tag }}{{ field }}
        {% endfor %}
        <br />
        <a href="#" class="btn btn-danger" id="edit-profile-close">{% trans "Cancel" %}</a> 
         <input type="submit" class="btn" value="{% trans "Change Password" %}" />
        </form>
    </div>
{% endif %}
</div> <!-- edit-profile-container -->

{% endblock chrome-content %}



{% block media-content %}


<div id="flowplayer_container" class="layer-container" onClick="remove_visible_elems([],['flowplayer']);" >
    <div id="flowplayer-wrapper">
     <a id="flowplayer-close" href="#" >[fdsfX]</a> 
     <div id="flowplayer-player" ></div>
    </div>
</div>

<!--CAST CONTAINER-->
<div id="cast_container" class="layer-container"></div>

<!--COLLECTION LIST CONTAINER-->
<div id="collection-list_container" class="layer-container">
    <div class="row-fluid">
        <div id="intro-message" class="offset1 span10">
            <h1>{% trans "Welcome to " %}{{SITE_NAME}}  </h1>
            <p></p>
            <a class="btn" id="intro-map-btn" href="#" ><i class="icon-map-marker"></i>  {% trans "see a map of all <span class='collection-name-plural'>collections</span>" %}</a> 
        </div>
    </div>
    <div id="collection-list" class="row-fluid"></div>
    <div class="row-fluid footer">
        <div class="offset1 span10">
            <h4 class="muted">{% trans "built with <a href='http://locast.mit.edu'>Locast</a>" %}</h4>
        </div>
    </div>   
</div>

<!--COLLECTION CONTAINER-->
<div id="collection_container" class=" layer-container row-fluid">
    <div id="collection-header" class="cast-list-header offset1 span10">
        <div id="collection-info"></div>
        <div id="collection-cast-list-sort" class="cast-list-sort">
            <a id="collection-cast-list-sort_-created" class="selected"><i class="icon-time"></i> {% trans "Most Recent"%}</a>
            <a id="collection-cast-list-sort_popularity"><i class="icon-heart"></i> {% trans "Most Popular"%}</a>
        </div>
    </div>  
    <button id="add-cast-to-collection" class="btn offset1">{% trans "Add a <span class='cast-name'>cast</span> to This <span class='collection-name'>Collection</span>" %}</button>
    <div id="collection-cast-list-loader" class="cast-list-loader"><h3 class="loader-message" >{% trans "Loading" %}</h3></div>
    <ul id="collection-cast-list-indicator" class="scroll-indicator" ></ul>
    <div id="collection-cast-list" class="offset1 span10 cast-list">
        <span class="list-content"><h3>{% trans "No <span class='cast-name-plural'>Casts</span>" %}</h3></span>
    </div>
</div>

<!--USER CONTAINER-->
<div id="user_container" class="layer-container row-fluid">
    <div id="user-header" class="cast-list-header offset1 span10"> 
        <div id="user-info"></div>
        <div id="user-cast-list-sort" class="cast-list-sort">
            <a id="user-cast-list-sort_-created" class="selected"><i class="icon-time"></i> {% trans "Most Recent"%}</a>
            <a id="user-cast-list-sort_popularity"><i class="icon-heart"></i> {% trans "Most Popular"%}</a>
        </div>
    </div>    
    <div id="user-cast-list-loader" class="cast-list-loader"><h3 class="loader-message" >{% trans "Loading" %}</h3></div>
    <ul id="user-cast-list-indicator" class="scroll-indicator" ></ul>
    <div id="user-cast-list" class="offset1 span10 cast-list"></div>
</div>


<!--TAG CONTAINER-->
<div id="tag_container" class="layer-container row-fluid">
    <div id="tag-header" class="cast-list-header offset1 span10"> 
        <div id="tag-info"></div>
        <div id="tag-cast-list-sort" class="cast-list-sort">
            <a id="tag-cast-list-sort_-created" class="selected"><i class="icon-time"></i> {% trans "Most Recent"%}</a>
            <a id="tag-cast-list-sort_popularity"><i class="icon-heart"></i> {% trans "Most Popular"%}</a>
        </div>
    </div>    
    <div id="tag-cast-list-loader" class="cast-list-loader"><h3 class="loader-message" >{% trans "Loading" %}</h3></div>
    <ul id="tag-cast-list-indicator" class="scroll-indicator" ></ul>
    <div id="tag-cast-list" class="offset1 span10 cast-list"></div>
</div>

{% endblock media-content %}


{% block map-content %}

<!--MAP TITLE-->
<div id="map-title_container" class="layer-container" >  
     <div id="browsebox-container">
             <div id="browsebox-collection-list"></div>
             <div id="browsebox-tag-list"></div>
    </div>

    <div id="map-title" class="clearfix"> 
        <h4 id="current-map">{% trans "All <span class='cast-name-plural'>Casts</span>" %}</h4>
        <h4 id="show-browsebox"><i class="icon-chevron-up"></i> </h4> 
        {% if request.user.is_authenticated %}
            <a id="add-cast-button" class="btn cast-add-button">+ {% trans "Add <span class='cast-name'>Cast</span>" %}<span id="add-cast-coll"></span></a> 
        {% endif %}
    </div>
 </div> <!-- map-title-container -->

<!--MAP PLACE LIST-->
<div id="map-places-container">

</div>

<!--LOCATION CHANGE-->

<div id="change-location_container" class="layer-container"></div>

<!--ADD CAST-->

<div id="cast-add_container" class="layer-container"></div>

<!--MAP CONTROLS-->
<div id="map-controls_container" class="layer-container dynamic">
    <div id="map-controls"></div>
    <a id="map-reset" href="#">{% trans "Reset"%}</a>
</div>

<!--MAP-->
<div style="height:200px; width:100px;" id="main-map"></div>

<!--MAP LOADING INDICATOR-->
<div id="map-loader" class="cast-list-loader"><h3 class="loader-message" >{% trans "Loading" %}</h3></div>

{% endblock map-content %}

