{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>{% block title %}{% endblock %}The Open Locast Project by MIT Mobile Experience Lab</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="content-language" content="EN" />
    <meta name="description" content="{% block meta-description %}{% trans "The Open Locast Project" %}{% endblock %}" />
    <meta name="keywords" content="locast, mit" />
    <meta name="author" content="MIT Mobile Experience Lab" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="distribution" content="global" />
    <!-- Force IE to render in standards mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="index" title="TRAVELER" href="{{BASE_URL}}" />
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/fancybox/jquery.fancybox.css?v=2.0.5" type="text/css" media="screen" />
    <link type="text/css" href="{{THEME_URL}}theme.css" rel="stylesheet" media="screen, projection" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.2&key={{GOOGLE_API_KEY}}&sensor=true"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/OpenLayers.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/fancybox/jquery.fancybox.pack.js?v=2.0.5"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/plugins.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/plupload/plupload.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/plupload/plupload.html5.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/plupload/plupload.flash.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/flowplayer/flowplayer-3.2.11.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/mustache.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sammy.min.js"></script>

    <script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script type="text/javascript" src="{{BASE_URL}}/templates.js"></script>
    <script type="text/javascript" src="{{BASE_URL}}/traveler.js"></script>
    <script type="text/javascript" src="{{THEME_URL}}mapstyles.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/travelermap.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
    <script type="text/javascript">
    {% if request.user.is_authenticated %}
        TRAVELER_USER = {{ request.user.id }};
    {% endif %}
    </script>
{% if GOOGLE_ANALYTICS_ID %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS_ID}}']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
</script>
{% endif %}
{% block script %}{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">
{% block body %}
{% endblock %}
</body>
</html>

