{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>{% block title %}{% endblock %}The Open Locast Project by MIT Mobile Experience Lab</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="content-language" content="EN" />
    <meta name="description" content="{% block meta-description %}{% trans "The Open Locast Project" %}{% endblock %}" />
    <meta name="keywords" content="locast, mit" />
    <meta name="author" content="MIT Mobile Experience Lab" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="3 days" />
    <meta name="distribution" content="global" />
    <!-- Force IE to render in standards mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="index" title="TRAVELER" href="{{BASE_URL}}" />
    <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicon.ico" type="image/x-icon" />
{% block style %}   
{% endblock style %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key={{GOOGLE_MAPS_KEY}}"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/OpenLayers.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.mousewheel.pack.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tooltip.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.xfader.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.pager.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/plupload/plupload.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/plupload/plupload.html5.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/plupload/plupload.flash.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/flowplayer/flowplayer-3.2.6.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/prettyDate.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/json2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/mustache.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/sammy.min.js"></script>

    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="{{BASE_URL}}/templates.js"></script>
    <script type="text/javascript" src="{{BASE_URL}}/traveler.js"></script>
    <script type="text/javascript" src="{{THEME_URL}}mapstyles.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/travelermap.js"></script>
{% block script %}
{% endblock %}
{% if GOOGLE_ANALYTICS_ID %}
    {% include "google_analytics.django.html" %} 
{% endif %}
</head>
<body class="{% block body-class %}{% endblock %}">
{% block body %}
{% endblock %}
{% if request.user.is_authenticated %}
    TRAVELS_USER = {{ request.user.id }};
{% endif %}
</script>
</body>
</html>

