<ul class="popup-content cluster content-card cleared">
{{#features}}
{{#attributes}}
<li class="clustered-cast">
    {{#placeholder}}
    <span>
        <h4 class="placeholder">{{num_left}} gettext('more casts')</h4>
    </span>
    {{/placeholder}}
    {{^placeholder}}
    <a href="#!cast/{{id}}/"> <div class="image-frame">{{#preview_image}}<img src="{{preview_image}}" />{{/preview_image}}</div></a>
        <h4>
            <a href="#!cast/{{id}}/"><span class="cast-title title">{{title}}</span></a><br />
            <a href="#!user/{{#author}}{{id}}{{/author}}/" class="cast-author author">{{#author}}{{display_name}}{{/author}}</a>
        </h4>
    </span>
    {{/placeholder}}
</li>
{{/attributes}}
{{/features}}
</ul>
