
<a class="locast-icon close" onCLick="$('#search-results').fadeOut(80);"></a>
<div id="results-container" class="scrollable">
    <div id="search-casts">
        <h3 class="title" >gettext('CASTS')</h3>
        {{#casts}}
        <a id="search-result-cast_{{id}}" href="#!cast/{{id}}/">
            {{title}}
        </a>
        {{/casts}}
    </div>
    <div id="search-collections">
        <h3 class="title">gettext('MAPS')</h3>
        {{#collections}}
        <a id="search-result-collection_{{id}}" href="#!collection/{{id}}/">
            {{title}}
        </a>
        {{/collections}}
    </div>
    <div id="search-users">
        <h3 class="title">gettext('USERS')</h3>
        {{#users}}
        <a id="search-result-user_{{id}}" href="#!user/{{id}}/">
            {{display_name}}
        </a>
        {{/users}}
    </div>
</div>
