{% extends "base.django.html" %}

{% load i18n %}
{% block main-content %}
<div class="static-form cleared">
    <h2>{% trans 'Register an Account on ' %}{{SITE_TITLE}}</h2>  
    <form method="post" enctype="multipart/form-data" action="{% url register %}" class="cleared">
        <h6 style="color:red;">{% trans "REQUIRED" %}</h6>
        {{ form.as_p }}
        <br/>
        <h6 style="color:blue">{% trans "OPTIONAL" %}</h6>
        {{ profile_form.as_p }}
        <input type="submit" class="locast-button register" value="Register"/>
    </form>
    <br/><br/><br/><br/>
</div>
{% endblock %}

