<a href="#!" class="locast-icon close"></a>
<div class="locast-icon indicator"></div>
<div id="casts" class="casts scrolling">
    <div id="open-event_{{id}}" class="locast-open-cast event">
    <div class="cast-header">
        <h3><span class="title event-title" >{{title}}</span><span class="event-dates"><span title="{{start_date}}" class="event-start-date date">{{start_date}}</span><span class="date-range"> gettext('until') <span title="{{end_date}}" class="event-end-date date">{{end_date}}</span></span></span></h3>
        
        <a class="gcalendar-link" href="#" target="_blank"><img src="http://www.google.com/calendar/images/ext/gc_button1.gif" border=0></a> 
    </div>
    <div class="cast-sharing-tools locast-sharing-tools">
        <div class="locast-stat favorite">
            <div class="locast-icon large favorite grey"></div>
            <p class="locast-icon-number favorite locast-number">24</p>
        </div>
        <div id="twitter-share-event_{{id}}" class="locast-icon large twitter grey"></div>
        <div id="facebook-share-event_{{id}}" class="locast-icon large facebook grey"></div>
    </div>
    <div class="cast-content">
        <div class="content"><p>{{description}}</p></div>
    </div>    
</div>
</div>

