{{#body}}
<div class="popup-content event cleared">
    <a class="{{#tooltip}}hide {{/tooltip}} locast-button" href="#!event/{{id}}/">Open</a>
    <p class="type">gettext('Event')</p>
    <h4>
        <a href="#!event/{{id}}/"><span class="cast-title title">{{title}}</span></a>
        <span class="event-dates">
            <span class="event-start-date date" title="{{start_date}}">{{start_date}}</span>
            <span class="{{#same}}hide {{/same}}"> gettext('until') <span class="event-end-date date" title="{{end_date}}">{{end_date}}</span></span>
        </span>
    </h4>
</div>
{{/body}}


