<ul class="locast-list locast-cast-list scrolling">
    {{#casts}}
    
    <li class="locast-list-item cast official-{{official}} cleared content-card">
    <a href="#!cast/{{id}}/">
        <div class="image-frame collection-picture {{#preview_image}}image{{/preview_image}}"> 
                    <img  src="{{#preview_image}}{{preview_image}}{{/preview_image}}" />
        </div> 
    </a> 
        
        <h4 class="list-link">
            <a href="#!cast/{{id}}/"><span class="cast-title">{{title}}</span></a><br /> 
            {{#author}}<a href="#!user/{{id}}/"><span class="author">{{display_name}}</span></a>{{/author}}
            <p class="favorites"><div class="favorites-icon"></div>{{favorites}}</p> 

        </h4>      
    </li>
 
    {{/casts}}
</ul>

